<div class="flex justify-center gap-3 pt-10">
  <button (click)="get404Error()" class="btn btn-neutral">Test 404 Error</button>
  <button (click)="get400Error()" class="btn btn-accent">Test 400 Error</button>
  <button (click)="get500Error()" class="btn btn-secondary">Test 500 Error</button>
  <button (click)="get401Error()" class="btn btn-primary">Test 401 Error</button>
  <button (click)="get400ValidationError()" class="btn btn-info">Test 400 Validation Error</button>
</div>

@if (validationErrors().length > 0) {
<div class="card bg-base-100 flex mt-5 rounded-2xl w-1/2 p-3 mx-auto">
  <ul class="flex flex-col text-red-600 space-y-2">
    @for (error of validationErrors(); track error) {
    <li>{{ error }}</li>
    }
  </ul>
</div>
}
